@use 'variables' as *;

.contact {
  padding: 96px 0;
  background: $color-black;

  .section-title {
    width: 324px;
    margin: 0 auto;

    font-family: $font-primary;
    font-size: 48px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    color: #fff;
  }

  &__inner {
    max-width: 846px;
    margin: 0 auto;
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    gap: 85px;
    margin-top: 48px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 411px;
  }

  &__input {
    width: 411px;
    height: 48px;

    padding: 14px 16px;
    border: 0;
    border-radius: 40px;

    background: #fff;

    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $color-black;

    &::placeholder {
      color: #7e7e83;
    }
  }

  &__textarea {
    width: 411px;
    height: 148px;

    padding: 14px 16px;
    border: 0;
    border-radius: 16px;

    resize: none;
  }

  &__submit {
    width: 411px;
    height: 56px;

    margin-top: 16px;

    padding: 0 48px;
    border: 0;
    border-radius: 40px;

    background: #fff;
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);

    font-family: $font-primary;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #1d1d1d;

    cursor: pointer;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 237px;
  }

  &__info-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__info-label {
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: $color-white;
  }

  &__info-value {
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    color: $color-white;
    text-decoration: none;
  }
}

.foteer {
  width: 1260px;

  &__img {
    width: 1260px;
    height: 555px;
    display: block;
    object-fit: cover;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
