@use 'variables' as *;

.details {
  padding: 96px 0;
  background: $color-black;

  .section-title {
    width: 498px;
    margin: 0 auto 88px;

    font-family: $font-primary;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    color: $color-white;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 88px;

    width: 1020px;
    margin: 0 auto;
  }

  &__images {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
  }

  &__img {
    display: block;
    object-fit: cover;
  }

  &__img--large {
    width: 672px;
    height: 320px;
  }

  &__img--small {
    width: 324px;
    height: 320px;
  }

  &__name {
    margin-bottom: 16px;

    font-family: $font-primary;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $color-white;
  }

  &__description {
    width: 672px;

    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $color-white;
  }

  &__explore {
    margin-top: 32px;
    margin-left: 348px;
    width: 324px;
    height: 56px;

    padding: 0 48px;
    border: 0;
    border-radius: 40px;

    background: #fff;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #1d1d1d;

    cursor: pointer;
  }
}

.foteer {
  width: 100%;
  height: 555px;
  overflow: hidden;
}

.foteer__img {
  display: block;
  width: 100%;
  height: 555px;
  object-fit: cover;
}
