.move-free {
  padding: 96px 0;
  background: #1d1d1d;
  color: #fff;

  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }

  &__title,
  .section-title {
    width: 411px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1.5px;
  }

  &__text {
    width: 498px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0;
  }
}
