// Colors
$color-black: #1d1d1d;
$color-white: #fff;
$color-gray: #c2c2c2;
$color-input: #f8f8fa;
$color-placeholder: #7e7e83;

// Fonts
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Layout
$header-height: 128px;
$container-width: 1260px;
